h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F07E2F;
}

a.navlink {
    color: #DCDB76;
    text-decoration: none;
    font-size: 1.4em;
}

a.navlink:hover {
    color: #F07E2F ;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
}

.slider {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    animation: slideInfinite 60s linear infinite;
    width: max-content;
}

@keyframes slideInfinite {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.bg-canary{
    background-color: #2B666F;
}

.white-text {
    color: #ffffff;
}

.green-color{
    background-color: #DCDB76;
}

.bg-green{
    background-color: #DCDB76;
}

.bg-orange{
    background-color: #F07E2F;
}

.green-btn-color{
    background-color: #DCDB76;
}

.green-btn-color:hover{
    background-color: #F07E2F;
}


.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-item {
    flex: 0 0 20%; /* 100% / 5 items = 20% pour chaque élément */
    transition: transform 0.5s ease;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%; /* Ajuste la largeur des boutons pour être plus petits */
}

.carousel-item img {
    width: 100%; /* S'assure que l'image occupe toute la largeur de l'élément */
}